NODE_ENV=production

NEXT_PUBLIC_BASE_URL=https://server.zyslet.com
NEXT_PUBLIC_API_URL=https://server.zyslet.com
NEXT_PUBLIC_CLIENT_URL=https://zyslet.com
NEXT_PUBLIC_ADMIN_URL=https://admin.zyslet.com
